$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;
$light-gray: gray;
$text-color:       #333;
$background-color: #d6d6c8;
$brand-color:      #68a889;
$projectbox-text:  #f1f8f7d5;

// Color scheme for light
$body-bg: #e5e5e2;
$projectbox: #7f978c;
$text-color: #5f5d5d;

// Color scheme for dark modes
$body-bg-dark: #363634;
$projectbox-dark: lighten(#7f978c, 2%);
$text-color-dark: #e6e6e6;
